*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    height: 100vh;
}
.calculator {
    
    display: flex;
    /* max-width: 271px; */
    flex-direction: column;
    background-color: rgb(168, 10, 10);
    border-radius: 10px;
    padding: 30px;
}
.title{
    margin-bottom: 20px;
}

#display{
    background-color: #333;
    overflow-wrap: break-word;
    padding: 10px 0;
    min-height: 40px;
    height: fit-content;
}

.button {
    width: 50px;
    padding: 20px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    background-color: #333;
}
.button:hover {
    background-color: rgb(100, 95, 95);
}

 #equal {
    height: 124px;
}
 td #zero {
    width: 103px;
}